body {
    margin: 0;
    padding: 0;
}

.screenblock {
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
    font-family: 'Helvetica', sans-serif;
    text-shadow: 0 0 5px #000;
    color: #fff;
}

#leaf{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#text1{
    margin-top: 60%;
    cursor: pointer;
}

#text2{
    margin-left: 38%;
    margin-top: 24%;
}

#fbg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    width: 100%;
    height: 100%;
    background: url("../assets/bg1.jpg")no-repeat center;
}

.disnone{
    display: none;
}

.disvis{
    display: block;
}

.animation {
    position: relative;
    cursor: pointer;
}

img.abs {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#pack {
    margin-top: 5%;
    margin-left: 30%;
    z-index: 2;
}

.rain1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rain 0.2s linear infinite;
    background-image: url('../assets/rain.png');
    opacity: 0;
}

.rain2:before {
    z-index: 5;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rain 0.4s linear infinite;
    background-image: url('../assets/rain.png');
    opacity: 0;
}

#pack2 {
    margin-top: 5%;
    margin-left: 30%;
    z-index: 5;
}

#whitebottom {
    margin-top: 48%;
    z-index: 2;
}

#logo {
    margin-top: 64%;
    margin-left: 82%;
    z-index: 2;
}

#logo2 {
    margin-top: 64%;
    margin-left: 82%;
    z-index: 2;
}

::selection {
    background: transparent;
}


@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


.animate_fadeIn{
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
    animation-timing-function: ease-out;
    -webkit-animation-duration: calc(var(--animate-duration) * 1.75);
    animation-duration: calc(var(--animate-duration) * 1.75);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}


@keyframes bigToSmall {
    0% {
        transform: scale(2.0);
        opacity: 0;
        -webkit-transform: scale(2.0);
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
        -webkit-transform: scale(1.0);
    }
}


.animate_bigToSmall{
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
    animation-timing-function: ease-out;
    -webkit-animation-duration: calc(var(--animate-duration) * 1.75);
    animation-duration: calc(var(--animate-duration) * 1.75);
    -webkit-animation-name: bigToSmall;
    animation-name: bigToSmall
}


@keyframes downToUp {
    0% {
        opacity: 0;
        margin-top: 100%;
    }
    100% {
        opacity: 1;
        margin-top: 48%;
    }
}


.animate_downToUp{
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
    animation-timing-function: ease-out;
    -webkit-animation-duration: calc(var(--animate-duration) * 1.75);
    animation-duration: calc(var(--animate-duration) * 1.75);
    -webkit-animation-name: downToUp;
    animation-name: downToUp
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        margin-left: 100%;
    }
    100% {
        opacity: 1;
        margin-left: 82%;
    }
}


.animate_leftToRight{
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
    animation-timing-function: ease-out;
    -webkit-animation-duration: calc(var(--animate-duration) * 1.75);
    animation-duration: calc(var(--animate-duration) * 1.75);
    -webkit-animation-name: leftToRight;
    animation-name: leftToRight
}

@keyframes centerToLeft {
    0% {
        margin-left: 30%;
    }
    100% {
        opacity: 1;
        margin-left: 2%;
    }
}


.animate_centerToLeft{
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
    animation-duration: calc(var(--animate-duration) * 0.75);
    -webkit-animation-name: centerToLeft;
    animation-name: centerToLeft
}


@keyframes textLeftToRight {
    0% {
        opacity: 0;
        margin-left: 100%;
    }
    100% {
        opacity: 1;
        margin-left: 38%;
    }
}


.animate_textLeftToRight{
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
    animation-timing-function: ease-out;
    -webkit-animation-duration: calc(var(--animate-duration) * 1.75);
    animation-duration: calc(var(--animate-duration) * 1.75);
    -webkit-animation-name: textLeftToRight;
    animation-name: textLeftToRight;
    animation-delay: 0.7s;
}

@keyframes rain {
    0% {
        background-position: 0 0;
        opacity: 0.4;
    }

    100% {
        background-position: 8% 80%;
        opacity: 0.4;
    }
}